.ContactList {
    height: 100vh;

    h2 {
        padding: 10px;
    }
}

.wrapperTable {
    width: 100%;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    thead {
        background: #F9FAFB;

        tr {

            th {
                padding: 10px 10px;
                color: #6B7280;
                text-transform: uppercase;
            }

            td {
                padding: 15px 15px;
                color: red;
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 10px 0px;
            }
        }
    }

    button {
        background: none;
        border: none;
    }

    span {
        padding: 10px 10px;
    }

    .table-control {
        display: flex;
        justify-content: space-evenly;
    }
}